@using Microsoft.AspNetCore.Identity
@using WeVolunteer.Core.Services.Cause
@using WeVolunteer.Core.Services.Organization
@using WeVolunteer.Extensions
@using WeVolunteer.Infrastructure.Data.Entities.Account
@inject SignInManager<User> SignInManager;
@inject IOrganizationService organizationService;
@inject ICauseService causeService;

@if ((SignInManager.IsSignedIn(User) && organizationService.GetOrganizationByUserId(User.Id()) != null && organizationService.GetOrganizationByUserId(User.Id()).Name == Model.OrganizationName) || this.User.IsAdmin())
{

    <h5 class="mt-5 mb-3">Volunteers:</h5>

    @foreach (var user in Model.Users)
    {
        <div class="news-block news-block-two-col d-flex mt-4">
            <div class="news-block-two-col-image-wrap">
                <a href="news-detail.html">
                    <img src="~/bootstrap/images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg" class="news-image img-fluid" alt="">
                </a>
            </div>

            <div class="news-block-two-col-info">
                <div class="news-block-title mb-2">
                    <h6>@user.FirstName @user.LastName</h6>
                </div>

                <div class="news-block-date">
                    <p>
                        <i class="bi-calendar4 custom-icon me-1"></i>
                        @user.Email
                    </p>
                </div>
            </div>
        </div>
    }
}
