@using Microsoft.AspNetCore.Identity
@using WeVolunteer.Infrastructure.Data.Entities.Account
@inject SignInManager<User> SignInManager;

@if (!SignInManager.IsSignedIn(User))
{ 
    <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
        <div class="featured-block d-flex justify-content-center align-items-center">
             <a asp-controller="User" asp-action="Login" class="d-block">
                 <img src="~/bootstrap/images/icons/hands.png" class="featured-block-image img-fluid" alt="">

                 <p class="featured-block-text">Become a <strong>volunteer</strong></p>
             </a>
        </div>
    </div>
}
else
{
    <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
        <div class="featured-block d-flex justify-content-center align-items-center">
             <a asp-controller="Cause" asp-action="All" class="d-block">
                 <img src="~/bootstrap/images/icons/hands.png" class="featured-block-image img-fluid" alt="">

                 <p class="featured-block-text">Take part in our <strong>causes</strong></p>
             </a>
        </div>
    </div>
}


